body {
	font-family: Ariel;
	font-size: 15px;
	line-height: 1.5;
	background-color: #f4f4f4;
	padding: 0px;
	margin: 0px;
}

/* Global */
.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.input {
	width: 280px;
	font-size: 15px;
	padding: 5px;
	margin-top: 20px;
}

.button {
	width: 293px;
	font-size: 15px;
	padding: 10px;
	margin-top: 20px;
	background-color: #FF3333;
	border: black 2px solid;
	color: #ffffff;
	transition-duration: 0.4s;
}

.button:hover {
	background-color: #4CAF50; /* Green */
}

.input_box {
	max-width: 350px;
	min-width: 70px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #35424a;
	border-radius: 15px;
	padding-bottom: 20px;
}

.current {
	color: #FF3333;
}

/* Header */
header {
	background-color: #35424a;
	color: #ffffff;
	min-height: 70px;
	border-bottom: #FF3333 3px solid;
	padding-bottom:5px;
}

header a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 15px;
}

header ul {
	margin: 0px;
	padding: 0px;
}

header li {
	/*float: left;*/
	display: inline;
	padding-right: 40px;
}

#title {
	/*float: left;*/
	
	text-align: center;
	width: 100%;
}

header nav {
	/*float: right;
	margin-top: 35px;*/
	float: none;
	text-align: center;
	width: 100%;
}

header a:hover {
	color: #FF3333;
}

.logout {
	background-color: #f44336;
	color: white;
	padding: 5px 20px;
	text-decoration: none;
	display: inline-block;
}

.logout:hover {
	color: white;
	background-color: red;
}

/*.logout_form {
	float:right;
	margin-left: 50px;
}*/

/*.logout_button {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	background: red;
}*/

/*Main Area*/
.main_area {
	min-height: 460px;
	background: url('/img/background.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #ffffff;
}

.main_area h1 {
	font-size: 55px;
	margin-top: 100px;
	margin-bottom: 20px;
}

.main_area h2 {
	margin-top: 0px;
	padding-top: 20px;
	text-align: center;
}

.main_area p {
	font-size: 15px;
}

.main_area a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	padding-left: 60px;
	padding-right: 60px;
}

/* Footer */
footer {
	padding: 5px;
	background-color: #FF3333;
	color: #ffffff;
	text-align: center;
}

/* About */
.row {
	display: flex;
	justify-content: space-evenly;
}

.column {
	text-align: center;
	align-self: center;
}

/* User Area */
/*.user_area {
	margin-left: 20%;
	margin-right: 20%;
}*/

/* User Preferences */
.input_box select {
	width: 130px;
	border: black 2px solid;
	transition-duration: 0.4s;
}

.input_box select:hover {
	background: #FF3333;
}

/* Program */
#daily_program {
	text-align: center;
}

#program, #program th, #program td {
	border-bottom: 1px solid #ddd;
}

#program {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 3%;
	background: red;
}

#program th {
	text-align: left;
	height: 40px;
	background-color: #ffd9d9;
}

#program td {
	text-align: left;
}

#program tr:nth-child(even) {
	background-color: #ffd9d9;
}

.data, .title {
	padding-left: 40px;
}

/* Media Queries */
@media ( max-width : 850px) {
	header nav {
		margin-top: 5px;
	}
	header a {
		font-size: 14px;
	}
	.row {
		flex-direction: column;
		align-items: center;
	}
	.column {
		margin-bottom: 20px;
	}
	.main_area h1 {
		font-size: 50px;
		margin-top: 70px;
		margin-bottom: 10px;
	}
}

@media ( max-width : 680px) {
	main_area h1 {
		margin: 0px;
	}
	header li {
		padding-right: 10px;
		padding-left: 10px;
	}
	header a {
		font-size: 12px;
	}
	.main_area h1 {
		font-size: 45px;
		margin-top: 50px;
		margin-bottom: 10px;
	}
}