<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width">
<title>OneMore | Home Page</title>
<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<div id="title">
				<h1>OneMore</h1>
			</div>
			<nav>
				<ul>
					<li><a th:href="@{/}">Home</a>
					<li><a th:href="@{/login}">Login</a>
					<li><a th:href="@{/register}">Register</a>
					<li><a th:href="@{/about}" class="current">About</a>
					<li><a th:href="@{/user/main}" class="logout">User Page</a>
					<li><a th:href="@{/logout}" class="logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="main_area">
		<h2>Our Team</h2>
		<div class="row">
			<div class="column input_box">
				<div class="card">
					<img src="/img/luca.jpg" alt="LV" style="width: 50%">
					<div>
						<h2>Luca Veronese</h2>
						<p>Developer And Designer</p>
						<p>Contact me so we can improve this website together.</p>
						<p>lucav@example.com</p>
						<p>
							<button class="button">Contact</button>
						</p>
					</div>
				</div>
			</div>

			<div class="column input_box">
				<div class="card">
					<img src="/img/germana.jpg" alt="GA" style="width: 50%">
					<div>
						<h2>Germana Alencar</h2>
						<p>PT And Motivator</p>
						<p>Contact me so I can help you getting back to your best shape!</p>
						<p>germanaa@example.com</p>
						<p>
							<button class="button">Contact</button>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer>
		<p>Gym App - Copyright &copy; LucaV 2022</p>
	</footer>
</body>
</html>