<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width">
<title>OneMore | Registration</title>
<link rel="stylesheet" href="/css/styles.css">

</head>
<body>
	<header>
		<div class="container">
			<div id="title">
				<h1>OneMore</h1>
			</div>
			<nav>
				<ul>
					<li><a th:href="@{/}">Home</a>
					<li><a th:href="@{/login}">Login</a>
					<li><a th:href="@{/register}" class="current">Register</a>
					<li><a th:href="@{/about}">About</a>
					<li><a th:href="@{/user/main}" class="logout">User Page</a>
					<li><a th:href="@{/logout}" class="logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div>
		<div class="main_area row">
			<div class="input_box column">
				<h2>Register New Account</h2>
				<form th:action="@{/register}" method="post" th:object="${gym}">
					<table>
						<tr>
							<td><input type="text" th:field="*{gymName}" class="input"
								placeholder="Full Name"></td>
						</tr>
						<tr>
							<td class="error" th:errors="*{gymName}"></td>
						</tr>
						<tr>
							<td><input th:field="*{gymEmail}" class="input"
								placeholder="Email Address"></td>
						</tr>
						<tr>
							<td th:if="${#fields.hasErrors('gymEmail')}"></td>
						</tr>
						<tr>
							<td th:if="${invalidEmail}" th:text="${invalidEmail}"></td>
						</tr>
						<tr>
							<td><input type="text" th:field="*{gymUsername}"
								class="input" placeholder="Username"></td>
						</tr>
						<tr>
							<td th:if="${#fields.hasErrors('gymUsername')}"
								th:class="${#fields.hasErrors('gymUsername')}? error">
								<p class="error" th:errors="*{gymUsername}"></p>
							</td>
						</tr>
						<tr>
							<td><input type="password" th:field="*{gymPassword}"
								class="input" placeholder="Password"></td>
						</tr>
						<tr>
							<td th:each="error: ${#fields.errors('gymPassword')}">
								<p th:each="message : ${error.split(',')}" th:text="${message}"></p>
							</td>
						</tr>
						<tr>
							<td><input type="password"
								th:field="*{gymPasswordConfirmed}" class="input"
								placeholder="Confirm Password"></td>
						</tr>
						<tr>
							<td th:if="${invalidConfirmedPassword}"
								th:text="${invalidConfirmedPassword}"></td>
						</tr>
						<tr>
							<td>
								<button type="submit" class="button">Create Account</button>
							</td>
						</tr>
					</table>
				</form>
				<div th:if="${alreadyRegisteredMessage}" role="alert"
					th:text="${alreadyRegisteredMessage}"></div>

			</div>
		</div>
	</div>
	<footer>
		<p>Gym App - Copyright &copy; LucaV 2022</p>
	</footer>
</body>
</html>