<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="ISO-8859-1">
<title>OneMore | History</title>
<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<div id="title">
				<h1>OneMore</h1>
			</div>
			<nav>
				<ul>
					<li><a th:href="@{/}">Home</a>
					<li><a th:href="@{/user/main}" class="logout">User Page</a>
					<li><a th:href="@{/logout}" class="logout">Logout</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="main_area">
		<div class="container">
			<div th:if="${numberOfPrograms == 0}">
				<h1>No History to view</h1>
			</div>
			<div th:unless="${numberOfPrograms == 0}">
				<h1 id="history_h1">View Your History Below</h1>
			</div>
		</div>
		<div id="history_row">
			<div th:each="userPreference: ${list}" class="input_box column">
				<form th:action="@{/user/view_history}" method="post"
					th:object="${userPreference}">
					<table id="history_table">
						<thead>
							<tr>
								<th colspan="2">Option Selected</th>
							</tr>
						</thead>

						<tbody class="left">
							<tr>
								<th>Field</th>
								<th>Selection</th>
							</tr>
							<tr>
								<td>Fitness Level</td>
								<td><input type="hidden"
									th:value="${userPreference.fitnessLevel}" name="fitnessLevel"><span
									th:text="${userPreference.fitnessLevel}"></span></td>
							</tr>
							<tr>
								<td>Days/Week</td>
								<td><input type="hidden"
									th:value="${userPreference.daysPerWeek}" name="daysPerWeek"><span
									th:text="${userPreference.daysPerWeek}"></span></td>
							</tr>
							<tr>
								<td>Goal</td>
								<td><input type="hidden" th:value="${userPreference.goal}"
									name="goal"><span th:text="${userPreference.goal}"></span></td>
							</tr>
							<tr>
								<td>Focus</td>
								<td><input type="hidden" th:value="${userPreference.focus}"
									name="focus"><span th:text="${userPreference.focus}"></span></td>
							</tr>
							<tr>
								<td colspan="2"><button type="submit" id="history_button">View Program</button></td>
							</tr>
						</tbody>

					</table>
				</form>
			</div>
		</div>
	</section>
	<footer>
		<p>Gym App - Copyright &copy; LucaV 2022</p>
	</footer>

</body>
</html>