<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<meta name="viewport" content="width=device-width">
<title>OneMore | Home Page</title>
<link href="/css/styles.css" rel="stylesheet">
</head>
<body>
	<header>
		<div class="container">
			<div id="title">
				<h1>OneMore</h1>
			</div>
			<nav>
				<ul>
					<li><a th:href="@{/}" class="current">Home</a>
					<li><a th:href="@{/login}">Login</a>
					<li><a th:href="@{/register}">Register</a>
					<li><a th:href="@{/about}">About</a>
					<li><a th:href="@{/user/main}" class="logout">User Page</a>
					<li><a th:href="@{/logout}" class="logout">Logout</a>
				</ul>
			</nav>
		</div>
	</header>
	<section class="main_area">
		<div class="container">
			<h1>Find your motivation to do just OneMore</h1>
			<h3>Register now and be #OneStepCloser to your best shape!</h3>
		</div>
	</section>
	<footer>
		<p>Gym App - Copyright &copy; LucaV 2022</p>
	</footer>
</body>
</html>