<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<link href="/css/styles.css" rel="stylesheet">

</head>
<header>
	<div class="container">
		<div id="title">
			<h1>OneMore</h1>
		</div>
	</div>
</header>
<body>
	<div class="main_area">
		<div class="container">
			<h1>Welcome to OneMore, {putName}</h1>
		</div>
		<div class="row user_area">
			<div>
				<form th:action="@{/user/new_program}" method="post"
					th:object="${program}">
					<button class="button" type="submit">Generate</button>
				</form>
			</div>
			<div>
				<form>
					<button class="button" type="submit">History</button>
				</form>
			</div>
		</div>
	</div>
	<footer>
		<p>Gym App - Copyright &copy; LucaV 2022</p>
	</footer>
</body>
</html>