<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>OneMore | Program Page</title>
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<header>
		<div class="container">
			<div id="title">
				<h1>OneMore</h1>
			</div>
		</div>
	</header>
	<section class="main_area">
		<div class="container">
			<div>
				<h1 style="margin:0px;">Your Weekly Program</h1>
			</div>
			<table id="program">
				<thead>
					<tr>
						<th class="title">Name</th>
						<th class="title">Complexity</th>
						<th class="title">Sets</th>
						<th class="title">Repetitions</th>
					</tr>
				</thead>
				<tbody th:each="daysPerWeek: ${fullProgram}">
					<tr>
						<td colspan="4" id="daily_program">Daily Program</td>
						<!-- <td colspan="2" th:text="${exercises[0]}"></td>  -->
					</tr>
					<tr th:each="day: ${daysPerWeek}">
						<td class="data"><span th:text="${day.exerciseName}"></span></td>
						<td class="data"><span th:text="${day.complexity}"></span></td>
						<td class="data"><span th:text="${set}">Sets</span></td>
						<td class="data"><span th:text="${rep}">Reps</span></td>
					</tr>

					<!-- <tr>	
					<td><span th:text="${fullProgram[0]}"></span></td>
					<td><span th:text="${fullProgram[1]}"></span></td>
				</tr> -->

				</tbody>
			</table>
		</div>
	</section>
	<footer>
		<p>Gym App - Copyright &copy; LucaV 2022</p>
	</footer>
</body>
</html>